{% extends "index.html" %}

{% block header %}
<!-- Page Header -->
{% set section_title = section.title | lower %}
<header class="masthead" style="background-image: url('{{ get_url(path="/img/" ~ section_title ~ "-bg.jpg")}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ section.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    {{ section.content | safe }}
  </div>
</article>
{% endblock content %}